body{
    background-color: rgb(71, 35, 104);
}
#content{
    max-width:960px;
    min-height: 100vh;
    padding:0 1em;
    margin:0 auto;
    background-color:white;
}
.file-list{
    display:grid;
    grid-template-columns:auto auto;
}
.file-list>*:nth-child(4n+3), .file-list>*:nth-child(4n+4){
    background-color:aliceblue;
}
.folder-title{
    cursor:pointer;
}
.directory.collapsed>.folder-title::before{
    content:'+ ';
    width:1em;
    display:inline-block;
}
.directory:not(.collapsed)>.folder-title::before{
    content:'- ';
    width:1em;
    display:inline-block;
}
.directory.collapsed>*:not(.folder-title){
    display:none;
}
.directory>*:not(.folder-title){
    padding-left:1em;
    border-left:thin gray solid;
}